---
layout: page
title: Chat
permalink: /chat/
---
<h3> 
  Come say 'Hello!' by joining our online IRC chatroom 😺
</h3>
<p class="text-info">
  Kindly wait while the web client is loading. Choose a nickname and be
  connected to #dailyprog chatroom.
</p>
<iframe
  src="https://kiwiirc.com/client/irc.rizon.net/?&theme=mini#dailyprog"
  style="border:0; width:100%; height:550px;"
></iframe>
